
/* -----------------------------------------------
                    Footer
--------------------------------------------------- */
footer {
    width: 100%;

    position: absolute;
    bottom: 0px;

    padding: 10px 0;
    color: var(white-color);
    border-top: 1px solid violet;
    gap: 20px;
    text-align: center;
    font-size: 10px;
    background-color: var(--light-background);
}